<h2>Modifier mon profil</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, required:true, autofocus: true %>
    <%= f.input :last_name, required:true, autofocus: true %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :phone_number, required:true, autofocus: true %>
    <%= f.input :photo, as: :file, required:false, autofocus: true, label: "Choisir Photo" %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>En attente de confirmation pour : <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :current_password,
                hint: "Entrez votre mot de passe actuel pour valider vos modifications.",
                required: false,
                label: "Mot de passe actuel" %>
    <%= f.input :password,
                hint: "Ne rien renseigner si vous ne voulez pas faire de modification.",
                required: false,
                label: "Nouveau mot de passe" %>
    <%= f.input :password_confirmation,
                required: false,
                label: "Confirmer mot de passe" %>
  </div>

  <div class="">
    <%= f.button :submit, "Mettre à jour" %>
    <%# , class: "btn-bordeaux" %>
  </div>
<% end %>

<h6><%= link_to "Annuler mes changements", dashboard_path %></h6>

<div><%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Confirmer", turbo_confirm: "Confirmer" }, method: :delete %></div>
<%# , class: "btn-red" %>
<%= link_to "Retour", :back %>
