<h2>Modifier <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>En attente de confirmation pour : <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "Ne rien renseigner si vous ne voulez pas faire de modification.",
                required: false,
                input_html: { autocomplete: "Nouveau mot de passe" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "Nouveau mot de passe" } %>
    <%= f.input :current_password,
                hint: "Entrez votre mot de passe actuel pour valider vos modifications.",
                required: true,
                input_html: { autocomplete: "Mot de passe actuel" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Mise à jour" %>
  </div>
<% end %>

<h3>Supprimer mon compte</h3>

<div>Vous avez changé d'avis ? <%= button_to "Annuler mon compte", registration_path(resource_name), data: { confirm: "Confirmer", turbo_confirm: "Confirmer" }, method: :delete %></div>

<%= link_to "Retour", :back %>
