<div class="card-trip-infos">
  <div class="p-3">
    <h3>Mes vignes</h3>

    <% if @grapevines.empty? %>
      <p> Vous n'avez pas encore créé de vigne. </p>
      <%= link_to "Créer ma vigne", new_grapevine_path, class: "btn btn-bordeaux" %>
    <% else %>
      <ul>
        <% @grapevines.each do |grapevine| %>
          <li><%= link_to grapevine.name, grapevine_path(grapevine)%>, <%= grapevine.area %></li>
            <%= link_to "Modifier ma vigne", edit_grapevine_path(grapevine)%>
        <% end %>
      </ul>

      <%= link_to "Créer ma parcelle de vigne", new_grapevine_path, class: "btn-bordeaux" %>
    <% end %>
  </div>

  <div class="p-3">
    <h3>Mes réservations</h3>

    <% if @bookings.empty? %>
      <p> Vous n'avez pas encore créé de réservation. </p>
    <% else %>
      <ul>
        <% @bookings.each do |booking| %>
          <li>Parcelle louée : <%= booking.grapevine.name %></li>
          <p>Quantité louée : <%= booking.parcel_quantity %> part(s) </p>
          <p>Durée de la location : <%= booking.years %> ans</p>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="p-3">
    <h3>Mon profil</h3>

    <ul>
      <li>Nom: <%= current_user.first_name %> <%= current_user.last_name %></li>
      <li>Email: <%= current_user.email %></li>
      <li>Numéro de téléphone: <%= current_user.phone_number %></li>
      <% if current_user.winemaker == true %>
        <li>Winemaker <i class="fa-sharp fa-solid fa-wine-glass"></i></li>
      <% end %>
    </ul>
    <%= link_to "Modifier mon profil", edit_user_registration_path, class: "btn-bordeaux" %>
  </div>
</div>
