<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(<%= asset_path('photo-banner-home.jpg')%>);">
  <div class="container">
    <h1><strong>Parce que l’unité fait le grain, parrainez une Grosse Grappe</strong></h1>
    <p>Célébrons Dionysos, dieu du vin, et vos vignes se gorgeront de sucre !</p>
      <div class="cards-homepage mt-4">
        <div class="d-flex justify-content-center gap-3">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('istockphoto-670385840-612x612.jpg')%>)">
            Je suis vigneron
              <%= link_to "Je met ma parcelle en location",  dashboard_path, class: "btn-bordeaux" %>
          </div>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('pexels-pavel-danilyuk-8775186.jpg')%>)">
            Je suis mécène
              <%= link_to "Je parraine une vigne", grapevines_path, class: "btn-bordeaux" %>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container">
<h2 class ="mt-4 mb-4">Qu'est-ce que Grosse Grappe ?</h2>
<p>Chez La Grosse Grappe, nous vous offrons une expérience unique : la location de parcelles de vignes.</p>
<p>Devenez vigneron d'un jour en adoptant votre propre parcelle, choisissez votre cépage préféré et participez à toutes les étapes de la viticulture.</p>
<p>Notre équipe passionnée vous guidera dans cette aventure, du plantage des vignes à la récolte. Vous pourrez même déguster votre propre vin lors d'une dégustation exclusive. Rejoignez-nous chez La Grosse Grappe pour vivre la magie de la viticulture et créer des souvenirs inoubliables.</p>
</div>
