<h1>Vous apportez des modifications au Domaine : <%= @grapevine.name %></h1>

<%= simple_form_for(@grapevine) do |f| %>
  <%= f.input :name %>
  <%= f.input :grape_variety %>
  <%= f.input :organic %>
  <%= f.input :area %>
  <%= f.input :parcel_price %>
  <%= f.input :parcel_stock %>
  <%= f.input :photo, as: :file %>
  <%= f.input :description, label: "Décrivez votre vignoble (rendement par hectare attendu, spécificité du vin que vous produisez)" %>
  <%= f.input :short_description , label: "Un court résumé impactant pour inciter les visiteurs à se renseigner (150 caractères max!)"%>

  <%= f.submit %>
<% end %>


<%= link_to "Retour sur mon profil", user_session_path%>
