<h1 class="text-center">Trouvez la parcelle qui fera de vous un  heureux</h1>

<div class="p-3 wrapper separation-horizontal pt-4" style="border-top-color: rgb(221, 221, 221)">
  <% @grapevines.each do |grapevine| %>
    <div class="card-trip">
      <%= image_tag grapevine.photo, height: 300, width: 500, crop: :fill %>
      <div class="card-trip-infos">

        <div>
          <h2><%= link_to grapevine.name, grapevine_path(grapevine)%></h2>
          <p><%= grapevine.color %></p>
          <p><%= grapevine.short_description %></p>
        </div>

        <h2 class="card-trip-pricing"> <%= grapevine.parcel_price %>€ / parcelle</h2>
        <%# <img src="../../assets/images/90_stk305254.jpg" class="card-trip-user avatar-bordered" /> %>
      </div>
    </div>
  <% end %>
</div>
