<h1> Hello you're creating a Vine</h1>

<%= simple_form_for(@grapevine) do |f| %>
  <%= f.input :name %>
  <%= f.input :grape_variety %>
  <%= f.input :color, collection: ["Rouge", "Blanc", "Rosé"] %>
  <%= f.input :organic %>
  <%= f.input :area %>
  <%= f.input :parcel_price %>
  <%= f.input :parcel_stock %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>


<%= link_to "Retour sur mon profil", user_session_path%>
