<div class="p-3">
<h1 class="mt-2">Bienvenue dans la création de votre parcelle !</h1>

<%= simple_form_for(@grapevine) do |f| %>

  <%= f.input :name, label: "Nom de la parcelle :" %>
  <%= f.input :grape_variety, label: "Cépage de la vigne :" %>
  <%= f.input :color, collection: ["Rouge", "Blanc", "Rosé", "Gris"], label: "Couleur" %>
  <%= f.input :organic, label: "Biologique ?"%>
  <%= f.input :address,
  input_html: {data: {address_autocomplete_target: "address"}, },
  wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
  %>
  <%= f.input :area, collection: ["Alsace/Moselle", "Beaujolais", "Bordeaux", "Bourgogne", "Champagne", "Corse", "IGP Calvados", "Jura/ Savoie", "Languedoc Roussillon",
  "Sud Est", "Sud-Ouest", "Vallée de la Loire", "Vallée du Rhône"], label: "Région" %>
  <%= f.input :parcel_price , label: "Prix / parcelle"%>
  <%= f.input :parcel_stock, label: "Nombre de parcelle louée"%>
  <%= f.input :rental_period, collection: (1..10), label: "Nombre d'année maximum pendant laquelle une parcelle est louée" %>
  <%= f.input :description, label: "Décrivez votre vignoble : rendement par parcelle, spécificité du vin que vous produisez, votre histoire, etc." %>
  <%= f.input :short_description , label: "Légende qui sera assignée à votre parcelle. (150 caractères max)"%>
  <%= f.input :photo, as: :file %>

  <%= f.button :submit, "Créer ma vigne", class: "btn btn-primary"%>
<% end %>

<div class="mt-3">
<%= link_to "< Revenir sur mon profil", user_session_path%>
</div>
</div>
